<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div >
    <img class="signup-logo"src="/assets/img/freeAgency.jpg" alt="Ionic Logo">
  </div>

  <form #signupForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input [(ngModel)]="signup.username" [ngClass]="{'is-invalid': signupForm.submitted && username.invalid}"
          class="form-control" name="username" type="text" #username="ngModel" required>
        </ion-input>
        <div class="invalid-feedback">
          <p>Username required</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="signup.password" [ngClass]="{'is-invalid': signupForm.submitted && password.invalid}"
          class="form-control" id="password" name="password" type="password" #password="ngModel" required minlength="6">
        </ion-input>
        <div *ngIf="signupForm.submitted && password.invalid" class="invalid-feedback">
          <p *ngIf="password.errors.minlength">Password must be at least 6</p>
        </div>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Create</ion-button>
    </div>
  </form>

</ion-content>