<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex justify-content-center">
    <img class="login-logo" src="./assets/img/map.png" alt="Ionic logo">
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-label class="pb-2" position="stacked" color="primary">Username</ion-label>
        <ion-input [(ngModel)]="login.username" [ngClass]="{'is-invalid': loginForm.submitted && username.invalid}"
          class="form-control" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
        <div class="invalid-feedback">
          <p>Username required</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label class="pb-2" position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="login.password" [ngClass]="{'is-invalid': loginForm.submitted && password.invalid}"
        class="form-control" name="password" type="password" #password="ngModel" required>
        </ion-input>
        <div *ngIf="loginForm.submitted && password.invalid" class="invalid-feedback">
          <p *ngIf="password.errors.minlength">Password must be at least 6</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>