<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><small>NBA STAT-TRACK</small></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-slide></app-slide>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h3 class="center-text">Version 1.0 (Historical Data)</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5">
        <h4 class="center-text">Updates:</h4>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p class="center-text">Last regular season game: March 10th</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5">
        <h3 class="center-text">Player News:</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5">
        <p class="center-text">No news available</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>